

.lightblue
{
    background-color: #F7FBFF;
}

.videoWrapper
{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.videoWrapper iframe
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 100px #ffffff;
}

.pattern
{
    background-repeat: repeat;
}

null
{
}

.coverHeading
{
    background: #ffffff;
    padding: 10px 0 10px 0;
}

.subHeading
{
    text-align: left;
    letter-spacing: -1px;
}

.promo-1 svg
{
    position: absolute;
    bottom: -1px;
}

.backgroundGradient
{
    background-size: initial;
    background-repeat: initial;
    background-image: url('../img/groovepaper.png');
    background-attachment: fixed;
}

.input-lg, .form-group-lg .form-control
{
    height: 53px !important;
    font-size: 18px !important;
}

#header-curve-shadow
{
    display: block;
    -webkit-filter: blur(10px);
    filter: blur(10px);
    mix-blend-mode: overlay;
    opacity: .8;
    width: 100%;
    height: 18%;
}

.outlineGrey
{
    border: 10px solid #F5F5F5;
    border-radius: 6px;
}


.darkGlow
{
    border: 10px solid #F1F1F1;
    border-radius: 6px;
}

.bg-primary, .bg-primary-color
{
    background-color: #38d148 !important;
    background: #38d148 !important;
}

p
{
    font-size: 20px;
    text-align: justify;
}

.container
{
    max-width: 960px;
}

#toast-container>div
{
    opacity: 1;
}

.primary-color
{
    color: #38d148 !important;
}

